# Google Maps API
Setup the notebook with functions to get geo coordinates based on postal code. There was timeout issues with the Google Maps API which caused geo coordinates to be empty. A loop to check for this was added to ensure we have complete information available.

In [122]:
import requests
import pandas as pd
import re
import getpass
from datetime import datetime


# get lon and lat geo coordinates
def get_geo_coordinates(row):
    long, lat, has_no_geoloc = 0, 0, True
    
    while has_no_geoloc:
        # get geo coordinates via google api
        resp = requests.get("https://maps.googleapis.com/maps/api/geocode/json?address=" + re.sub("\s","%20",row['postal_code']) + "&json=1")
        if resp.status_code != 200:
            # This means something went wrong.
            raise Exception
        else:
            geo_data = resp.json()
            if len(geo_data['results']) > 0:
                long = geo_data['results'][0]['geometry']['location']['lng']
                lat = geo_data['results'][0]['geometry']['location']['lat']
                has_no_geoloc = False
    return pd.Series({'long': long, 'lat': lat})

def get_precip_probability(row):
    return pd.Series({'precip_probability': 0})

In [70]:
# read and explore locations.csv
locations = pd.read_csv("locations.csv")
locations.head()

                             loc_id postal_code  date_first   date_last
0  9be000ae23275d57e1273d211a54ffd7     AL3 5DQ  1485907200  1488326400
1  a35e427b4130be7b2a892e286f0ebb91     CB2 3QF  1486944000  1488326400
2  185674a2eb5c14fbdbb1d05a4109ea55     EX1 1GJ  1486425600  1488326400
3  afbddd7f957a1c822293616e95a2d84c     NG2 5GR  1486512000  1488326400
4  81cea1e224ad183b751acce139f4e276    GU21 6XX  1486080000  1488326400

In [71]:
# assuming that the data is clean and that there are only exactly days between date_first and date_last
locations['days'] = (locations['date_last'] - locations['date_first']) / (60 * 60 * 24)

In [72]:
locations.head()

                             loc_id postal_code  date_first   date_last  days
0  9be000ae23275d57e1273d211a54ffd7     AL3 5DQ  1485907200  1488326400  28.0
1  a35e427b4130be7b2a892e286f0ebb91     CB2 3QF  1486944000  1488326400  16.0
2  185674a2eb5c14fbdbb1d05a4109ea55     EX1 1GJ  1486425600  1488326400  22.0
3  afbddd7f957a1c822293616e95a2d84c     NG2 5GR  1486512000  1488326400  21.0
4  81cea1e224ad183b751acce139f4e276    GU21 6XX  1486080000  1488326400  26.0

In [73]:
locations[["long", "lat"]] = locations.apply(get_geo_coordinates, axis=1)
locations

,loc_id,postal_code,date_first,date_last,days,long,lat
0,9be000ae23275d57e1273d211a54ffd7,AL3 5DQ,1485907200,1488326400,28.0,51.751905,-0.340510
1,a35e427b4130be7b2a892e286f0ebb91,CB2 3QF,1486944000,1488326400,16.0,52.204212,0.120337
2,185674a2eb5c14fbdbb1d05a4109ea55,EX1 1GJ,1486425600,1488326400,22.0,50.723242,-3.528028
3,afbddd7f957a1c822293616e95a2d84c,NG2 5GR,1486512000,1488326400,21.0,52.931983,-1.127144
4,81cea1e224ad183b751acce139f4e276,GU21 6XX,1486080000,1488326400,26.0,51.319326,-0.558755
5,5f1ce9b7c8cd32c08d98310540fb6604,BS34 5DG,1487289600,1488326400,12.0,51.525159,-2.595357
6,5180af03094779de849ca816c9f5b753,N10 1BY,1486944000,1488326400,16.0,51.592149,-0.143414
7,7f2aa8e72612f9130e06b32a0d2a58d7,BR1 1DN,1485907200,1488326400,28.0,51.403891,0.016582
8,8b049b660e984912c48da213f2f7c650,LS29 9PA,1486425600,1488326400,22.0,53.924762,-1.827509
9,fe5d591b3509247487a917d4e8a33f65,SE1 9FU,1486512000,1488326400,21.0,51.507117,-0.101308
10,f8a762f49d2abffe630be60295f71ed0,BN1 1GE,1487635200,1488326400,8.0,50.824856,-0.138932
11,58f7d1d3ce8cc4e808bf840b56714b38,CV37 6BA,1487289600,1488326400,12.0,52.190685,-1.704784
12,84d414ec45c5b436c8470ce314c3b83f,LS1 5AY,1486080000,1488326400,26.0,53.796806,-1.544324
13,51fa5362e943615c7b31d367b461fd2c,TW6 3XA,1487808000,1488326400,6.0,51.459780,-0.447730
14,c60d40fa98e6235ba0d1485c4253bfe6,W4 5TA,1487462400,1488326400,10.0,51.492629,-0.262458
15,07d09eab6c837d4b0c0b17aba37e1dcf,WC2E 9BH,1487635200,1488326400,8.0,51.511575,-0.125737
16,f69e492442cd452124c75e6805d8e37d,SE1 7LY,1486944000,1488326400,16.0,51.503146,-0.113259
17,f5e2c06c5530335d2c994d20ed071bcb,WD17 2ED,1486512000,1488326400,21.0,51.669535,-0.411626
18,16bdd6fe40ed85ce99a456af6d7cff93,RG1 3EY,1486425600,1488326400,22.0,51.455098,-0.968765
19,11aeddbd12e79cae8dddb694e200f00d,SO15 1QF,1487808000,1488326400,6.0,50.903584,-1.407188

# Dark Sky API

In [79]:
# get dark sky api key from user
dark_sky_api_key = getpass.getpass()

········

## Note
Dark Sky API states:
```
https://api.darksky.net/forecast/[key]/[latitude],[longitude],[time]
```
However, after testing, it looks like the documents have long and lat reversed. This project uses the follow api access url:
```
https://api.darksky.net/forecast/[key]/[longitude],[latitude],[time]
```

In [82]:
resp = requests.get("https://api.darksky.net/forecast/" + dark_sky_api_key + "/50.903584,-1.407188,1487808000?exclude=currently,minutely,hourly,flags")
if resp.status_code != 200:
    # This means something went wrong.
    raise Exception
else:
    weather_data = resp.json()
    print(weather_data)

{'offset': 0, 'timezone': 'Europe/London', 'daily': {'data': [{'humidity': 0.73, 'time': 1487808000, 'apparentTemperatureMax': 42.39, 'visibility': 6.85, 'dewPoint': 38.42, 'windSpeed': 21.64, 'windBearing': 261, 'temperatureMax': 49.97, 'cloudCover': 0.66, 'precipType': 'rain', 'summary': 'Windy and mostly cloudy until evening.', 'apparentTemperatureMinTime': 1487883600, 'moonPhase': 0.89, 'sunsetTime': 1487871423, 'sunriseTime': 1487833432, 'icon': 'wind', 'temperatureMinTime': 1487887200, 'pressure': 1000.95, 'apparentTemperatureMin': 33.42, 'apparentTemperatureMaxTime': 1487833200, 'temperatureMaxTime': 1487833200, 'temperatureMin': 41.09}]}, 'latitude': 50.903584, 'longitude': -1.407188}

In [83]:
locations

,loc_id,postal_code,date_first,date_last,days,long,lat
0,9be000ae23275d57e1273d211a54ffd7,AL3 5DQ,1485907200,1488326400,28.0,51.751905,-0.340510
1,a35e427b4130be7b2a892e286f0ebb91,CB2 3QF,1486944000,1488326400,16.0,52.204212,0.120337
2,185674a2eb5c14fbdbb1d05a4109ea55,EX1 1GJ,1486425600,1488326400,22.0,50.723242,-3.528028
3,afbddd7f957a1c822293616e95a2d84c,NG2 5GR,1486512000,1488326400,21.0,52.931983,-1.127144
4,81cea1e224ad183b751acce139f4e276,GU21 6XX,1486080000,1488326400,26.0,51.319326,-0.558755
5,5f1ce9b7c8cd32c08d98310540fb6604,BS34 5DG,1487289600,1488326400,12.0,51.525159,-2.595357
6,5180af03094779de849ca816c9f5b753,N10 1BY,1486944000,1488326400,16.0,51.592149,-0.143414
7,7f2aa8e72612f9130e06b32a0d2a58d7,BR1 1DN,1485907200,1488326400,28.0,51.403891,0.016582
8,8b049b660e984912c48da213f2f7c650,LS29 9PA,1486425600,1488326400,22.0,53.924762,-1.827509
9,fe5d591b3509247487a917d4e8a33f65,SE1 9FU,1486512000,1488326400,21.0,51.507117,-0.101308
10,f8a762f49d2abffe630be60295f71ed0,BN1 1GE,1487635200,1488326400,8.0,50.824856,-0.138932
11,58f7d1d3ce8cc4e808bf840b56714b38,CV37 6BA,1487289600,1488326400,12.0,52.190685,-1.704784
12,84d414ec45c5b436c8470ce314c3b83f,LS1 5AY,1486080000,1488326400,26.0,53.796806,-1.544324
13,51fa5362e943615c7b31d367b461fd2c,TW6 3XA,1487808000,1488326400,6.0,51.459780,-0.447730
14,c60d40fa98e6235ba0d1485c4253bfe6,W4 5TA,1487462400,1488326400,10.0,51.492629,-0.262458
15,07d09eab6c837d4b0c0b17aba37e1dcf,WC2E 9BH,1487635200,1488326400,8.0,51.511575,-0.125737
16,f69e492442cd452124c75e6805d8e37d,SE1 7LY,1486944000,1488326400,16.0,51.503146,-0.113259
17,f5e2c06c5530335d2c994d20ed071bcb,WD17 2ED,1486512000,1488326400,21.0,51.669535,-0.411626
18,16bdd6fe40ed85ce99a456af6d7cff93,RG1 3EY,1486425600,1488326400,22.0,51.455098,-0.968765
19,11aeddbd12e79cae8dddb694e200f00d,SO15 1QF,1487808000,1488326400,6.0,50.903584,-1.407188

In [120]:
rows_list = []
for index, row in locations.iterrows():
    i = 0
    epoch = row['date_first']
    while epoch < row['date_last']:
        s = {
            'loc_id' : row['loc_id'],
            'date' : datetime.fromtimestamp(epoch).strftime('%Y-%m-%d'),
            'long' : row['long'],
            'lat' : row['lat'],
        }
        rows_list.append(s)
        i += 1
        epoch += (60*60*24)
    
df_locations_cleaned = pd.DataFrame(rows_list)

df_locations_cleaned

           date       lat                            loc_id       long
0    2017-01-31 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
1    2017-02-01 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
2    2017-02-02 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
3    2017-02-03 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
4    2017-02-04 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
5    2017-02-05 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
6    2017-02-06 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
7    2017-02-07 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
8    2017-02-08 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
9    2017-02-09 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
10   2017-02-10 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
11   2017-02-11 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
12   2017-02-12 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
13   2017-02-13 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
14   2017-02-14 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
15   2017-02-15 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
16   2017-02-16 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
17   2017-02-17 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
18   2017-02-18 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
19   2017-02-19 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
20   2017-02-20 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
21   2017-02-21 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
22   2017-02-22 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
23   2017-02-23 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
24   2017-02-24 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
25   2017-02-25 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
26   2017-02-26 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
27   2017-02-27 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905
28   2017-02-12  0.120337  a35e427b4130be7b2a892e286f0ebb91  52.204212
29   2017-02-13  0.120337  a35e427b4130be7b2a892e286f0ebb91  52.204212
..          ...       ...                               ...        ...
317  2017-02-26 -0.411626  f5e2c06c5530335d2c994d20ed071bcb  51.669535
318  2017-02-27 -0.411626  f5e2c06c5530335d2c994d20ed071bcb  51.669535
319  2017-02-06 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
320  2017-02-07 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
321  2017-02-08 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
322  2017-02-09 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
323  2017-02-10 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
324  2017-02-11 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
325  2017-02-12 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
326  2017-02-13 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
327  2017-02-14 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
328  2017-02-15 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
329  2017-02-16 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
330  2017-02-17 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
331  2017-02-18 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
332  2017-02-19 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
333  2017-02-20 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
334  2017-02-21 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
335  2017-02-22 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
336  2017-02-23 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
337  2017-02-24 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
338  2017-02-25 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
339  2017-02-26 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
340  2017-02-27 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098
341  2017-02-22 -1.407188  11aeddbd12e79cae8dddb694e200f00d  50.903584
342  2017-02-23 -1.407188  11aeddbd12e79cae8dddb694e200f00d  50.903584
343  2017-02-24 -1.407188  11aeddbd12e79cae8dddb694e200f00d  50.903584
344  2017-02-25 -1.407188  11aeddbd12e79cae8dddb694e200f00d  50.903584
345  2017-02-26 -1.407188  11aeddbd12e79cae8dddb694e200f00d  50.903584
346  2017-02-27 -1.407188  11aeddbd12e79cae8dddb694e200f00d  50.903584

[347 rows x 4 columns]

In [123]:
df_locations_cleaned[["pp"]] = df_locations_cleaned.apply(get_precip_probability, axis=1)
df_locations_cleaned

           date       lat                            loc_id       long  pp
0    2017-01-31 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
1    2017-02-01 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
2    2017-02-02 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
3    2017-02-03 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
4    2017-02-04 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
5    2017-02-05 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
6    2017-02-06 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
7    2017-02-07 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
8    2017-02-08 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
9    2017-02-09 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
10   2017-02-10 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
11   2017-02-11 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
12   2017-02-12 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
13   2017-02-13 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
14   2017-02-14 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
15   2017-02-15 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
16   2017-02-16 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
17   2017-02-17 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
18   2017-02-18 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
19   2017-02-19 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
20   2017-02-20 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
21   2017-02-21 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
22   2017-02-22 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
23   2017-02-23 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
24   2017-02-24 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
25   2017-02-25 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
26   2017-02-26 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
27   2017-02-27 -0.340510  9be000ae23275d57e1273d211a54ffd7  51.751905   0
28   2017-02-12  0.120337  a35e427b4130be7b2a892e286f0ebb91  52.204212   0
29   2017-02-13  0.120337  a35e427b4130be7b2a892e286f0ebb91  52.204212   0
..          ...       ...                               ...        ...  ..
317  2017-02-26 -0.411626  f5e2c06c5530335d2c994d20ed071bcb  51.669535   0
318  2017-02-27 -0.411626  f5e2c06c5530335d2c994d20ed071bcb  51.669535   0
319  2017-02-06 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
320  2017-02-07 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
321  2017-02-08 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
322  2017-02-09 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
323  2017-02-10 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
324  2017-02-11 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
325  2017-02-12 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
326  2017-02-13 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
327  2017-02-14 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
328  2017-02-15 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
329  2017-02-16 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
330  2017-02-17 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
331  2017-02-18 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
332  2017-02-19 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
333  2017-02-20 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
334  2017-02-21 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
335  2017-02-22 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
336  2017-02-23 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
337  2017-02-24 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
338  2017-02-25 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
339  2017-02-26 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
340  2017-02-27 -0.968765  16bdd6fe40ed85ce99a456af6d7cff93  51.455098   0
341  2017-02-22 -1.407188  11aeddbd12e79cae8dddb694e200f00d  50.903584   0
342  2017-02-23 -1.407188  11aeddbd12e79cae8dddb694e200f00d  50.903584   0
343  2017-02-24 -1.407188  11aeddbd12e79cae8dddb694e200f00d  50.903584   0
344  2017-02-25 -1.407188  11aeddbd12e79cae8dddb694e200f00d  50.903584   0
345  2017-02-26 -1.407188  11aeddbd12e79cae8dddb694e200f00d  50.903584   0
346  2017-02-27 -1.407188  11aeddbd12e79cae8dddb694e200f00d  50.903584   0

[347 rows x 5 columns]

In [124]:
df_locations_cleaned.pivot(index='loc_id', columns='date', values='pp')

date,2017-01-31,2017-02-01,2017-02-02,2017-02-03,2017-02-04,2017-02-05,2017-02-06,2017-02-07,2017-02-08,2017-02-09,...,2017-02-18,2017-02-19,2017-02-20,2017-02-21,2017-02-22,2017-02-23,2017-02-24,2017-02-25,2017-02-26,2017-02-27
loc_id,,,,,,,,,,,,,,,,,,,,,
07d09eab6c837d4b0c0b17aba37e1dcf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11aeddbd12e79cae8dddb694e200f00d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
16bdd6fe40ed85ce99a456af6d7cff93,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
185674a2eb5c14fbdbb1d05a4109ea55,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5180af03094779de849ca816c9f5b753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51fa5362e943615c7b31d367b461fd2c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
58f7d1d3ce8cc4e808bf840b56714b38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5f1ce9b7c8cd32c08d98310540fb6604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7f2aa8e72612f9130e06b32a0d2a58d7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81cea1e224ad183b751acce139f4e276,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84d414ec45c5b436c8470ce314c3b83f,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8b049b660e984912c48da213f2f7c650,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9be000ae23275d57e1273d211a54ffd7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
a35e427b4130be7b2a892e286f0ebb91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
afbddd7f957a1c822293616e95a2d84c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
c60d40fa98e6235ba0d1485c4253bfe6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
f5e2c06c5530335d2c994d20ed071bcb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
f69e492442cd452124c75e6805d8e37d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
f8a762f49d2abffe630be60295f71ed0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fe5d591b3509247487a917d4e8a33f65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0